.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.buttons {
	width: 100%;
	height: 0;
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: var(--primary-transition);
}

.buttons * {
	padding: 0.5rem 1rem;
}

.hidden {
	display: none;
}

.fullHeight {
	height: 4rem;
}

@media screen and (min-width: 60rem) {
	.buttons {
		width: auto;
		height: auto;
		gap: 2rem;
	}

	.buttons * {
		padding: 0.5rem 2.25rem;
	}
}
