.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 5rem;
	height: 4.5rem;
	margin: 1rem 0;
	cursor: pointer;
}

.buttons {
	display: none;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.toggle {
	display: block;
	border: none;
	background-color: transparent;
}

.menu {
	width: 2rem;
	height: 1.5rem;
	filter: drop-shadow(0 0 0.1rem white);
}

.toggledButtons {
	width: 100%;
	height: 0;
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: var(--primary-transition);
}

.hidden {
	display: none;
}

.fullHeight {
	height: 4rem;
}

@media screen and (min-width: 60rem) {
	.buttons {
		display: flex;
	}

	.toggle {
		display: none;
	}
}
