.webGLCanvas {
	width: min(100%, 600rem);
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	transition: var(--primary-transition);
	/* filter: var(--primary-blur); */
	background-color: var(--card-bg-color);
	z-index: -1;
}

.fullWidth {
	width: 100%;
}
