.teamCard {
	--border-color: var(--primary);
	--selected-color: var(--selection);
	--drop-shadow: var(--card-item-drop-shadow);
	width: min(50%, 35rem);
	margin: 1rem;
	padding: 2rem;
	position: relative;
	display: none;
	justify-content: center;
	align-items: center;
	border-radius: 0.6rem;
	background-color: var(--card-bg-color);
	backdrop-filter: var(--primary-blur);
	filter: var(--card-drop-shadow);
}

.team {
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	list-style: none;
}

.teamMember {
	width: 5rem;
	padding: 0.5rem;
	cursor: pointer;
	text-align: center;
	border-bottom: 2px solid var(--border-color);
	transition: var(--primary-transition);
}

.teamMember.selected {
	border-color: var(--selected-color);
}

.counter {
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 0rem;
	right: 0rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--tertiary);
	font-size: 1rem;
	font-weight: 600;
	border-radius: 50%;
	background-color: var(--border-color);
	transform: translate(25%, -25%);
}

@media screen and (min-width: 60rem) {
	.teamCard {
		display: flex;
	}
}
