.teamCard {
	--border-color: #fff;
	--selected-color: #009dff;
	--drop-shadow: drop-shadow(0 0 0.1rem black) drop-shadow(0 0 0.1rem black);
	width: min(100%, 35rem);
	margin: 1rem;
	padding: 2rem;
	display: none;
	justify-content: center;
	align-items: center;
	border-radius: 0.6rem;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(0.5rem);
	filter: drop-shadow(0 0 1rem black);
}

.team {
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	list-style: none;
}

.teamMember {
	width: 5rem;
	padding: 0.5rem;
	cursor: pointer;
	text-align: center;
	border-bottom: 2px solid var(--border-color);
	transition: var(--primary-transition);
}

.teamMember.selected {
	border-color: var(--selected-color);
}

@media screen and (min-width: 60rem) {
	.teamCard {
		display: flex;
	}
}
