.ability {
	--text-color: var(--primary);
	margin: 0 0.25rem;
	padding: 0.1rem 1.5rem;
	color: var(--text-color);
	font-size: 1rem;
	font-weight: 600;
	border: 2px solid var(--text-color);
	border-radius: 6.5rem;
	background-color: var(--bg-color);
}

.hidden {
	--text-color: var(--tertiary);
	--bg-color: var(--primary);
	border: none;
}
