.listing {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.navigation {
	width: 1.5rem;
	margin: 14.5rem 0;
	cursor: pointer;
	transition: var(--primary-transition);
}

.navigation:hover {
	filter: drop-shadow(0 0 0.1rem white);
	scale: 1.25;
}

.prevPokemon {
	transform: rotate(-90deg);
}

.nextPokemon {
	transform: rotate(90deg);
}

.pokemon {
	width: 16rem;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.pokemonHeaderGrid {
	display: grid;
	grid-template-columns: 100% 100%;
	justify-content: flex-end;
	align-items: center;
	transition: var(--primary-transition);
	overflow: hidden;
}

.pokemonHeaderGrid.slide {
	justify-content: flex-start;
}

.infoHeader {
	margin: 1rem 0;
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.image {
	width: 12.5rem;
	height: 12.5rem;
	image-rendering: pixelated;
	filter: drop-shadow(0 0 0.5rem black);
}

.name {
	--text-color: var(--primary);
	color: var(--text-color);
	font-size: 2rem;
	font-weight: 600;
	font-style: italic;
	text-align: center;
	text-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25), 0 0 0.25rem var(--text-color);
}

.id {
	font-size: 1.25rem;
	font-weight: 200;
}

.button {
	margin: 1rem 0;
}

.toggle {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.toggleText {
	--text-color: var(--primary);
	color: var(--text-color);
	font-size: 0.9rem;
	font-weight: 600;
	border: none;
	background-color: transparent;
	filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
}

.toggleIcon {
	width: 0.75rem;
	margin: 0 0.5rem;
	transition: var(--primary-transition);
}

.toggle:hover .toggleText {
	text-decoration: underline;
}

.rotate {
	rotate: -90deg;
}

.error {
	--text-color: var(--primary);
	color: var(--text-color);
	font-size: clamp(2.25rem, 5vw, 2.75rem);
	font-weight: 600;
	letter-spacing: 0.1em;
	text-align: center;
	text-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25), 0 0 0.25rem var(--text-color);
}

@media screen and (min-width: 60rem) {
	.pokemon {
		width: 20rem;
		margin: 0 2rem;
	}
}
