.error {
	--text-color: var(--primary);
	margin-top: 7rem;
	color: var(--text-color);
	font-size: clamp(2.25rem, 10vw, 3rem);
	font-weight: 600;
	letter-spacing: 0.1em;
	text-align: center;
	text-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25), 0 0 0.25rem var(--text-color);
}
