:root {
	--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
		'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
		'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

	--primary: #fff;
	--secondary: #ff1b3c;
	--tertiary: #000;
	--selection: #009dff;

	--primary-gradient: linear-gradient(107.56deg, #000000 26.87%, #ff1b3c 100%);
	--primary-transition: all ease-in-out 0.2s;

	--primary-blur: blur(0.5rem);
	--secondary-blur: blur(2rem);

	--card-bg-color: rgba(0, 0, 0, 0.3);
	--card-drop-shadow: drop-shadow(0 0 1rem black);
	--card-item-drop-shadow: drop-shadow(0 0 0.1rem black)
		drop-shadow(0 0 0.1rem black);
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background: var(--primary-gradient);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	cursor: pointer;
	font-family: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

#__next {
	max-width: 100rem;
	min-height: 100vh;
	margin: auto;
	padding: 1.5% 7%;
}

@media screen and (min-width: 60rem) {
	main {
		justify-content: space-between;
	}
}
